Objetivo: Classificar se uma pessoa comprou ou não comprou um produto
com base no salário ou idade.

In [1]:
import pandas as pd

In [ ]:
"C:/Users/dsadm/Desktop/clone/IABD_Inteligencia_Artificial_E_Big_Data/Aula_7/base_de_dados/Social_Network_Ads.csv"

"Aula_7/base_de_dados/Social_Network_Ads.csv"

In [4]:
df = pd.read_csv('C:/Users/dsadm/Desktop/clone/IABD_Inteligencia_Artificial_E_Big_Data/Aula_7/base_de_dados/Social_Network_Ads.csv', sep = ',')

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
colunas = {'User ID':'Usuario',
           'Gender': 'Genero',
           'Age': 'Idade', 'EstimatedSalary':'Salario Estimado',
           'Puchased': 'Comprou'}

In [7]:
df.rename(columns=colunas,inplace=True) # Renomeia as colunas

In [8]:
df.head()

    Usuario  Genero  Idade  Salario Estimado  Purchased
0  15624510    Male     19             19000          0
1  15810944    Male     35             20000          0
2  15668575  Female     26             43000          0
3  15603246  Female     27             57000          0
4  15804002    Male     19             76000          0

Importando as bibliotecas necessárias para realizar a análise de dados

In [9]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVC # Importa o algoritmo de SVM
from sklearn.preprocessing import StandardScaler # Ninlioteca para normalizar os dados
from sklearn.metrics import confusion_matrix, accuracy_score # Gerar métricas
from matplotlib.colors import ListedColormap # Altera a cor dos graficos

In [10]:
X = df.iloc[:, [2, 3]].values # X é a entrada onde pega a idade e a renda dos clientes
y= df.iloc[:, -1].values # y é a saída

In [ ]:
X

In [ ]:
y